<div class="component html-component" id="section-3104" data-name="Awards">
        <div class="container" data-gjs-draggable="false">
          <div class="text row" data-gjs-draggable="false">            
            <div class="body col-xs-12" data-gjs-draggable="false">
              <div class="careers__faqs" data-gjs-draggable="false">
                <h3 data-gjs-draggable="false">Our awards</h3>
                
              <ul class="faqs" data-gjs-draggable="false">
                  <li class="faqs__item" data-gjs-draggable="false">
                      <img data-gjs-draggable="false" src="https://www.eteach.com/DataFiles/CMS/1/images/cs-images/qs.png" alt="" class="faqs__icon sch">
                      <p data-gjs-draggable="false" class="faqs__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam velit, auctor eget leo sed, faucibus consequat erat.</p>
                  </li>
                  <li class="faqs__item" data-gjs-draggable="false">
                      <img data-gjs-draggable="false" src="https://www.eteach.com/DataFiles/CMS/1/images/cs-images/hs.png" alt="" class="faqs__icon sch">
                      <p data-gjs-draggable="false" class="faqs__description">Quisque et placerat velit. Pellentesque suscipit, ex quis facilisis pulvinar, risus turpis hendrerit purus, et tempor lorem nisi in sem.</p>
                  </li>
                  <li class="faqs__item" data-gjs-draggable="false">
                      <img data-gjs-draggable="false" src="https://www.eteach.com/DataFiles/CMS/1/images/cs-images/ip.png" alt="" class="faqs__icon sch">
                      <p data-gjs-draggable="false" class="faqs__description">Quisque et placerat velit. Pellentesque suscipit, ex quis facilisis pulvinar, risus turpis hendrerit purus, et tempor lorem nisi in sem.</p>
                  </li>
                  <li data-gjs-draggable="false" class="faqs__item">
                      <img data-gjs-draggable="false" src="https://www.eteach.com/DataFiles/CMS/1/images/cs-images/isa.png" alt="" class="faqs__icon sch">
                      <p data-gjs-draggable="false" class="faqs__description">Quisque et placerat velit. Pellentesque suscipit, ex quis facilisis pulvinar, risus turpis hendrerit purus, et tempor lorem nisi in sem.</p>
                  </li>
                  <li data-gjs-draggable="false" class="faqs__item">
                      <img data-gjs-draggable="false" src="https://www.eteach.com/DataFiles/CMS/1/images/cs-images/tqs.png" alt="" class="faqs__icon sch">
                      <p data-gjs-draggable="false" class="faqs__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam velit, auctor eget leo sed, faucibus consequat erat.</p>
                  </li>
                  <li data-gjs-draggable="false" class="faqs__item">
                      <img data-gjs-draggable="false" src="https://www.eteach.com/DataFiles/CMS/1/images/cs-images/rrs.png" alt="" class="faqs__icon sch">
                      <p data-gjs-draggable="false" class="faqs__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam velit, auctor eget leo sed, faucibus consequat erat.</p>
                  </li>
              </ul>
              </div>
            </div>
          </div>
        </div>        
      </div>