<div class="cover-menu header-cover-image" style="background-image: url(/images/theme_two/banner.jpg);" 
data-name="Banner Image"
data-gjs-draggable="false" 
data-gjs-droppable="false" 
data-gjs-copyable="false"
data-gjs-resizable="false"
data-gjs-badgable="false"
data-gjs-removable="false"
data-gjs-editable="false"
>
    <div class="overlay" style="background-color: #1a4178; opacity: 0.6;"
    data-gjs-draggable="false" 
    data-gjs-droppable="false" 
    data-gjs-copyable="false"
    data-gjs-resizable="false"
    data-gjs-badgable="false"
    data-gjs-removable="false"
    data-gjs-editable="false"
    ></div>
</div>