<div class="component quote-component" id="section-4866" data-name="Feedback">
    <div class="container" data-gjs-draggable="false">
        <div class="entry" data-gjs-draggable="false">
            <p>It's great working with you!</p>
            </div>
            <div class="row row-centered" data-gjs-draggable="false">
            <div class="member" data-gjs-draggable="false">
                <div class="col-md-2 col-centered xs-hidden" data-gjs-draggable="false">
                <div class="avatar" data-gjs-draggable="false">
                    <img data-gjs-draggable="false" class="img-circle" src="https://d171ro0hmgt8ka.cloudfront.net/assets/placeholders/candidate_photo-3cc8d1304b4a0bcb1897452f536c86284d524d87c1cb2a86efbac54a3fe66389.png" alt="Candidate photo 3cc8d1304b4a0bcb1897452f536c86284d524d87c1cb2a86efbac54a3fe66389">
                </div>
                </div>
                <div class="col-md-2 col-centered" data-gjs-draggable="false">
                <div class="titles" data-gjs-draggable="false">
                    <div class="h5" data-gjs-draggable="false">John Doe</div>
                    <div class="department" data-gjs-draggable="false">CEO, Acme</div>
                </div>
                </div>
            </div>
        </div>
    </div>        
</div>