<footer class="container" 
data-gjs-draggable="false" 
data-gjs-droppable="false" 
data-gjs-copyable="false"
data-gjs-resizable="false"
data-gjs-badgable="false"
data-gjs-removable="false"
data-gjs-editable="false"
>
    <p class="text-center"     
    data-gjs-draggable="false" 
    data-gjs-droppable="false" 
    data-gjs-copyable="false"
    data-gjs-resizable="false"
    data-gjs-badgable="false"
    data-gjs-removable="false"
    data-gjs-editable="false"
    >
    <a 
    data-gjs-draggable="false" 
    data-gjs-droppable="false" 
    data-gjs-copyable="false"
    data-gjs-resizable="false"
    data-gjs-badgable="false"
    data-gjs-removable="false"
    data-gjs-editable="false"
    class="footer-logo" href="http://www.eteach.com/" data-gjs-draggable="false">eTeach</a>
    </p>
</footer>