<meta charset="utf-8">
<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Career - Jobs - ACME School</title>
<meta content="Career - Jobs - ACME School" name="description">
<meta content="Career - Jobs - ACME School" itemprop="description">
<meta content="summary_large_image" name="twitter:card">
<meta content="Career - Jobs - ACME School" property="og:title">
<meta content="Career - Jobs - ACME School" property="og:description">
<meta content="images/share_image.png" property="og:image">
<meta content="https://acmeschool.careers.eteach.com/" property="og:url">
<meta content="ACME School" property="og:site_name">
<meta content="website" property="og:type">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="kSNYWZxnLikUUwjzadMEVozo8gVmAOUX21or51/oThhgiLrgbn8VcE6AtayzrolAXFIs89y8DpQGRFmZ1ljl9Q==">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
<![endif]-->
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link href="http://acmeschool.careers.eteach.com/" rel="canonical">
<link rel="stylesheet" media="screen" href="/css/style.css">
<link rel="stylesheet" media="screen" href="/css/main.css">
<link rel="stylesheet" href="/css/ionicons.css">

<script src="/js/jquery.min.js" data-turbolinks-track="true"></script>
<!-- Slick js for image gallery -->
<script src="/js/slick.min.js" data-turbolinks-track="true"></script>