<div class="component offers-component" id="section-838" data-name="Jobs">
    <div class="container" data-gjs-draggable="false">
      <h3 class="section-title" data-gjs-draggable="false">{{site.data.text.jobTitle}}</h3>
      <h4 class="section-subtitle" data-gjs-draggable="false">{{site.data.text.jobSubTitle}}</h4>
      <div class="filters-view" data-gjs-draggable="false">
        <div class="jobs-container" id="jobs-list" data-gjs-draggable="false">
          <div class="filters-container filters hidden-xs" data-gjs-draggable="false">
            <div class="filter filter__search" data-gjs-draggable="false">
              <input type="text" name="search" id="search-filter" class="search form-control" placeholder="Search..." data-gjs-draggable="false">
            </div>
            <div class="filter" data-gjs-draggable="false">
              <select name="department" id="department" class="form-control" data-gjs-draggable="false"><option value="">All departments</option></select>
            </div>
            <div class="filter" data-gjs-draggable="false">
              <select name="city" id="city" class="form-control" data-gjs-draggable="false"><option value="">All cities</option><option value="london">london</option></select>
            </div>
            <div class="filter filter__clear" data-gjs-draggable="false">
              <a class="clear-filters" href="#" data-gjs-draggable="false">Clear</a>
            </div>
          </div>
          <div class="list-container list" data-gjs-draggable="false">
            <a class="job job__row" id="job-8726" href="#" data-gjs-draggable="false"><div class="job__column job__column--title" data-gjs-draggable="false">
              <h5 class="title" data-gjs-draggable="false">teach</h5>
            </div>
            <div class="job__column job__column--meta" data-gjs-draggable="false">
              <span class="location" data-gjs-draggable="false">
                london
              </span>
            </div>
            <div class="job-data hidden" data-gjs-draggable="false">
              <div class="department" data-gjs-draggable="false"></div>
              <div class="city" data-gjs-draggable="false">london</div>
            </div>
            </a>
          </div>
          <div class="col-md-2 col-centered search-result" data-gjs-draggable="false">
            <div class="titles" data-gjs-draggable="false">
                <div class="h5" data-gjs-draggable="false"><a href="#">Job Title 1</a></div>
                <div class="department" data-gjs-draggable="false">Job Decription 1</div>
            </div>
            <div class="titles" data-gjs-draggable="false">
                <div class="h5" data-gjs-draggable="false"><a href="#">Job Title 2</a></div>
                <div class="department" data-gjs-draggable="false">Job Decription 2</div>
            </div>
            <div class="titles" data-gjs-draggable="false">
                <div class="h5" data-gjs-draggable="false"><a href="#">Job Title 3</a></div>
                <div class="department" data-gjs-draggable="false">Job Decription 3</div>
            </div>
        </div>

          <div class="empty-state hidden" data-gjs-draggable="false">
            <h3 data-gjs-draggable="false">
              No offers found
            </h3>
          </div>
        </div>
      </div>
    </div>