<div class="component map-component activated" id="section-3094" data-name="Location">
        <div class="container" data-gjs-draggable="false">
          <h3 class="section-title" data-gjs-draggable="false">{{site.data.text.locationTitle}}</h3>
          <h4 class="section-subtitle" data-gjs-draggable="false">{{site.data.text.locationSubTitle}}</h4>
        </div>
        <div data-gjs-draggable="false" class="map-holder" style="background: url('/images/theme_two/map-sample.jpg') top left no-repeat"></div>
        <div data-gjs-draggable="false" class="markers">
          <div data-gjs-draggable="false" class="marker" data-lat="52.2958821751809" data-lng="-0.00506401062011719" data-title="Our location">
            <h5 data-gjs-draggable="false">Our location</h5>
            <div data-gjs-draggable="false" class="content">
              <p data-gjs-draggable="false">Gibraltar Lane
              <br>Swavesey
              <br>Cambs
              <br>CB24 4RS</p>
            </div>
          </div>
        </div>
      </div>