<div class="component header-component" id="section-3039" 
data-name="Top Navigation"
data-gjs-draggable="false" 
data-gjs-droppable="false" 
data-gjs-copyable="false"
data-gjs-resizable="false"
data-gjs-badgable="false"
data-gjs-removable="false"
data-gjs-editable="false"
>
  <div class="cover-menu"
  data-gjs-draggable="false" 
  data-gjs-droppable="false" 
  data-gjs-copyable="false"
  data-gjs-resizable="false"
  data-gjs-badgable="false"
  data-gjs-removable="false"
  data-gjs-editable="false"
  >
    <nav class="navbar navbar-default" role="navigation"
    data-gjs-draggable="false" 
    data-gjs-droppable="false" 
    data-gjs-copyable="false"
    data-gjs-resizable="false"
    data-gjs-badgable="false"
    data-gjs-removable="false"
    data-gjs-editable="false"
    >
      <div class="container"
      data-gjs-draggable="false" 
      data-gjs-droppable="false" 
      data-gjs-copyable="false"
      data-gjs-resizable="false"
      data-gjs-badgable="false"
      data-gjs-removable="false"
      data-gjs-editable="false"
      >
        <div class="row"
        data-gjs-draggable="false" 
        data-gjs-droppable="false" 
        data-gjs-copyable="false"
        data-gjs-resizable="false"
        data-gjs-badgable="false"
        data-gjs-removable="false"
        data-gjs-editable="false"
        >
          <div class="col-xs-12 col-md-4"
          data-gjs-draggable="false" 
          data-gjs-droppable="false" 
          data-gjs-copyable="false"
          data-gjs-resizable="false"
          data-gjs-badgable="false"
          data-gjs-removable="false"
          data-gjs-editable="false"
          >
            <ul class="hidden-xs nav navbar-left navbar-nav socials"
            data-gjs-draggable="false" 
            data-gjs-droppable="false" 
            data-gjs-copyable="false"
            data-gjs-resizable="false"
            data-gjs-badgable="false"
            data-gjs-removable="false"
            data-gjs-editable="false"
            >
            </ul>
          </div>
          <div class="col-xs-12 col-md-8"
          data-gjs-draggable="false" 
          data-gjs-droppable="false" 
          data-gjs-copyable="false"
          data-gjs-resizable="false"
          data-gjs-badgable="false"
          data-gjs-removable="false"
          data-gjs-editable="false"
          >
            <button class="navbar-toggle" data-target="#navbar-collapse" data-toggle="collapse" type="button"
            data-gjs-draggable="false" 
            data-gjs-droppable="false" 
            data-gjs-copyable="false"
            data-gjs-resizable="false"
            data-gjs-badgable="false"
            data-gjs-removable="false"
            data-gjs-editable="false"
            >
              <span class="sr-only"
              data-gjs-draggable="false" 
              data-gjs-droppable="false" 
              data-gjs-copyable="false"
              data-gjs-resizable="false"
              data-gjs-badgable="false"
              data-gjs-removable="false"
              data-gjs-editable="false"
              >Toggle navigation</span>
              <span class="icon-bar"
              data-gjs-draggable="false" 
              data-gjs-droppable="false" 
              data-gjs-copyable="false"
              data-gjs-resizable="false"
              data-gjs-badgable="false"
              data-gjs-removable="false"
              data-gjs-editable="false"
              ></span>
              <span class="icon-bar"
              data-gjs-draggable="false" 
              data-gjs-droppable="false" 
              data-gjs-copyable="false"
              data-gjs-resizable="false"
              data-gjs-badgable="false"
              data-gjs-removable="false"
              data-gjs-editable="false"
              ></span>
              <span class="icon-bar"
              data-gjs-draggable="false" 
              data-gjs-droppable="false" 
              data-gjs-copyable="false"
              data-gjs-resizable="false"
              data-gjs-badgable="false"
              data-gjs-removable="false"
              data-gjs-editable="false"
              ></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse"
            data-gjs-draggable="false" 
            data-gjs-droppable="false" 
            data-gjs-copyable="false"
            data-gjs-resizable="false"
            data-gjs-badgable="false"
            data-gjs-removable="false"
            data-gjs-editable="false"
            >
              <ul class="menu nav navbar-nav navbar-right"
              data-gjs-draggable="false" 
              data-gjs-droppable="false" 
              data-gjs-copyable="false"
              data-gjs-resizable="false"
              data-gjs-badgable="false"
              data-gjs-removable="false"
              data-gjs-editable="false"
              >
                <li
                data-gjs-draggable="false" 
                data-gjs-droppable="false" 
                data-gjs-copyable="false"
                data-gjs-resizable="false"
                data-gjs-badgable="false"
                data-gjs-removable="false"
                data-gjs-editable="false"
                >
                  <a href="/#section-3041"
                  data-gjs-draggable="false" 
                  data-gjs-droppable="false" 
                  data-gjs-copyable="false"
                  data-gjs-resizable="false"
                  data-gjs-badgable="false"
                  data-gjs-removable="false"
                  data-gjs-editable="false"
                  >Jobs</a>
                </li>
                <li
                data-gjs-draggable="false" 
                data-gjs-droppable="false" 
                data-gjs-copyable="false"
                data-gjs-resizable="false"
                data-gjs-badgable="false"
                data-gjs-removable="false"
                data-gjs-editable="false"
                >
                  <a href="/#section-3091"
                  data-gjs-draggable="false" 
                  data-gjs-droppable="false" 
                  data-gjs-copyable="false"
                  data-gjs-resizable="false"
                  data-gjs-badgable="false"
                  data-gjs-removable="false"
                  data-gjs-editable="false"
                  >Photos</a>
                </li>
                <li
                data-gjs-draggable="false" 
                data-gjs-droppable="false" 
                data-gjs-copyable="false"
                data-gjs-resizable="false"
                data-gjs-badgable="false"
                data-gjs-removable="false"
                data-gjs-editable="false"
                >
                  <a href="/#section-3126"
                  data-gjs-draggable="false" 
                  data-gjs-droppable="false" 
                  data-gjs-copyable="false"
                  data-gjs-resizable="false"
                  data-gjs-badgable="false"
                  data-gjs-removable="false"
                  data-gjs-editable="false"
                  >Our Team</a>
                </li>
                <li
                data-gjs-draggable="false" 
                data-gjs-droppable="false" 
                data-gjs-copyable="false"
                data-gjs-resizable="false"
                data-gjs-badgable="false"
                data-gjs-removable="false"
                data-gjs-editable="false"
                >
                  <a target="_blank" href="https://beta.eteach.com/about-us"
                  data-gjs-draggable="false" 
                  data-gjs-droppable="false" 
                  data-gjs-copyable="false"
                  data-gjs-resizable="false"
                  data-gjs-badgable="false"
                  data-gjs-removable="false"
                  data-gjs-editable="false"
                  >About us</a>
                </li>
                <li 
                    data-gjs-draggable="false"
                    data-gjs-draggable="false" 
                    data-gjs-droppable="false"
                    data-gjs-layerable="false"
                    data-gjs-copyable="false"
                    data-gjs-resizable="false"
                    data-gjs-badgable="false"
                    data-gjs-removable="false"
                    data-gjs-editable="false"
                  >
                    <a 
                      data-gjs-draggable="false"
                      data-gjs-draggable="false" 
                      data-gjs-droppable="false"
                      data-gjs-layerable="false"
                      data-gjs-copyable="false"
                      data-gjs-resizable="false"
                      data-gjs-badgable="false"
                      data-gjs-removable="false"
                      data-gjs-editable="false" 
                    href="/blogs" 
                      data-gjs-draggable="false"
                      data-gjs-draggable="false" 
                      data-gjs-droppable="false"
                      data-gjs-layerable="false"
                      data-gjs-copyable="false"
                      data-gjs-resizable="false"
                      data-gjs-badgable="false"
                      data-gjs-removable="false"
                      data-gjs-editable="false"
                    >Blog</a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="content container {{ page.bodyClass }}"
    data-gjs-draggable="false" 
    data-gjs-droppable="false" 
    data-gjs-copyable="false"
    data-gjs-resizable="false"
    data-gjs-badgable="false"
    data-gjs-removable="false"
    data-gjs-editable="false"
    >
      <div class="top-liner row"
      data-gjs-draggable="false" 
      data-gjs-droppable="false" 
      data-gjs-copyable="false"
      data-gjs-resizable="false"
      data-gjs-badgable="false"
      data-gjs-removable="false"
      data-gjs-editable="false"
      >
        <div class="col-sm-6"
        data-gjs-draggable="false" 
        data-gjs-droppable="false" 
        data-gjs-copyable="false"
        data-gjs-resizable="false"
        data-gjs-badgable="false"
        data-gjs-removable="false"
        data-gjs-editable="false"
        >
          <h1 class="brand"
          data-gjs-draggable="false" 
          data-gjs-droppable="false" 
          data-gjs-copyable="false"
          data-gjs-resizable="false"
          data-gjs-badgable="false"
          data-gjs-removable="false"
          data-gjs-editable="false"
          >
            <a href="https://careersite.careers.eteach.com/"
            data-gjs-draggable="false" 
            data-gjs-droppable="false" 
            data-gjs-copyable="false"
            data-gjs-resizable="false"
            data-gjs-badgable="false"
            data-gjs-removable="false"
            data-gjs-editable="false"
            ><img src="https://dle8kiu3j4494.cloudfront.net/careers/photos/5544/white_thumb_photo_1503672008.png" alt="White thumb photo 1503672008"
            data-gjs-draggable="false" 
            data-gjs-droppable="false" 
            data-gjs-copyable="false"
            data-gjs-resizable="false"
            data-gjs-badgable="false"
            data-gjs-removable="false"
            data-gjs-editable="false"
            >
            </a>
          </h1>
        </div>
        <div class="col-sm-6 text-right hidden-xs"
        data-gjs-draggable="false" 
        data-gjs-droppable="false" 
        data-gjs-copyable="false"
        data-gjs-resizable="false"
        data-gjs-badgable="false"
        data-gjs-removable="false"
        data-gjs-editable="false"
        >
          
        </div>
      </div>
      <div class="info-container"
      data-gjs-draggable="false" 
      data-gjs-droppable="false" 
      data-gjs-copyable="false"
      data-gjs-resizable="false"
      data-gjs-badgable="false"
      data-gjs-removable="false"
      data-gjs-editable="false"
      >
        <div class="info"
        data-gjs-draggable="false" 
        data-gjs-droppable="false" 
        data-gjs-copyable="false"
        data-gjs-resizable="false"
        data-gjs-badgable="false"
        data-gjs-removable="false"
        data-gjs-editable="false"
        >
          <h2
          data-gjs-draggable="false" 
          data-gjs-droppable="false" 
          data-gjs-copyable="false"
          data-gjs-resizable="false"
          data-gjs-badgable="false"
          data-gjs-removable="false"
          >We are looking for talented people</h2>
          <h3
          data-gjs-draggable="false" 
          data-gjs-droppable="false" 
          data-gjs-copyable="false"
          data-gjs-resizable="false"
          data-gjs-badgable="false"
          data-gjs-removable="false"
          >Lipsum lorem</h3>
        </div>
      </div>
    </div>
  </div> 
  <div class="spacing"
  data-gjs-draggable="false" 
  data-gjs-droppable="false" 
  data-gjs-copyable="false"
  data-gjs-resizable="false"
  data-gjs-badgable="false"
  data-gjs-removable="false"
  data-gjs-editable="false"
  ></div>
</div>