<!-- <div class="editor-backdrop"></div> -->

<a id="rightSliderOpenButton" class="editor-link blocks hidden-xs" href="#editor">
  <div class="btn-editor easing">
    <img src="/images/blocks.png" alt="Edit">
  </div>
</a>
<div class="hidden-xs edit-controls" id="editorRight" role="navigation">
  <div id="sliderRightContent" style="display: none;">
    <div class="header">    
      <strong>Layout</strong>
      <a id="closeRightSlider"  class="editor-link active" href="#editorRight">
        <i class="fa fa-angle-double-right"></i>
      </a>
    </div>
    <div style="overflow: auto" class="editor-content ps-container ps-active-y" style="position: relative !important;">
        <section class="settings">
            <h3>
              <span>Blocks
                  <a class="inner pull-right collapsed" href="#blocksHolder" data-toggle="collapse" aria-expanded="false" aria-controls="blocksHolder">
                    <i class="fa fa-chevron-circle-down"></i>
                    <i class="fa fa-chevron-circle-up"></i>
                  </a>
              </span>
            </h3>     
            <ul class="list row">
              <li class="col-xs-12" style="height: unset">            
                  <div id="blocksHolder" class="collapse">
                    <div class="card card-body" id="page-blocks">
          
                    </div>      
                  </div>   
              </li>  
            </ul>               
            
          </section>

          <section class="settings">
            <h3>
              <span>Layers
                  <a class="inner pull-right collapsed" href="#layersHolder" data-toggle="collapse" aria-expanded="false" aria-controls="layersHolder">
                    <i class="fa fa-chevron-circle-down"></i>
                    <i class="fa fa-chevron-circle-up"></i>
                  </a>
              </span>
            </h3>
            <ul class="list row">
                <li class="col-xs-12" style="height: unset">            
                    <div id="layersHolder" class="collapse">
                      <div class="panel__right" style="width: 100%">
                        <div class="card card-body" id="layers-container">
              
                        </div>  
                      </div>    
                    </div>   
                </li>
            </ul>
          </section>

          <section class="settings">            
              <h3>
                <span>Styles 
                  <a class="inner pull-right collapsed" href="#stylesHolder" data-toggle="collapse" aria-expanded="false" aria-controls="stylesHolder">
                    <i class="fa fa-chevron-circle-down"></i>
                    <i class="fa fa-chevron-circle-up"></i>
                  </a>
                </span>                
              </h3>
              <ul class="list row">
                  <li class="col-xs-12" style="height: unset">            
                      
                      <div id="stylesHolder" class="collapse">
                        <div class="panel__right" style="width: 100%">
                          <div class="card card-body" id="styles-container">
                              <p>Select any element to change styles</p>
                          </div>  
                        </div>    
                      </div>   
                  </li>
              </ul>
            </section>
             
    </div>
  </div>   
</div> 
</div>


