<div class="component html-component" id="section-3095" data-name="Talent Pool">
        <div class="container" data-gjs-draggable="false">
          <div class="text row" data-gjs-draggable="false">           
            <div class="body col-xs-12" data-gjs-draggable="false">
              <div id="one" data-gjs-draggable="false">
              
              <a data-gjs-draggable="false" href="mailto:job.82l3m@acmeschool.schoolrecruiter.co.uk"><img data-gjs-draggable="false" class="email-box" src="https://www.eteach.com/DataFiles/CMS/1/images/cs-images/join-talent-pool.png" alt="Join our Talent Pool"></a>
              
              <h3 data-gjs-draggable="false">{{site.data.text.telentPoolTitle}}</h3>
              
              <p data-gjs-draggable="false">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores, At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores, At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
              
              <p data-gjs-draggable="false">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa, Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa</p>
              
              </div>
            </div>
          </div>
        </div>
      </div>