<div class="component team-component" id="section-3126" data-name="Team">
    <div class="container" data-gjs-draggable="false">
        <h3 class="section-title" data-gjs-draggable="false">Our team</h3>
        <h4 class="section-subtitle" data-gjs-draggable="false">The people behind our School</h4>
        <div class="members row" data-gjs-draggable="false">
        <div class="member col-md-2 col-sm-4 col-xs-6" data-gjs-draggable="false">
            <img data-gjs-draggable="false" class="img-circle" src="https://dle8kiu3j4494.cloudfront.net/careers/members/267/thumb_avatar_1504259561.png" alt="Thumb avatar 1504259561">
            <div data-gjs-draggable="false" class="titles">
            <div data-gjs-draggable="false" class="h5 truncate">Lisa Tomlinson</div>
            <div data-gjs-draggable="false" class="department truncate">Ely College and CPET Business Director</div>
            </div>
        </div>
        <div class="member col-md-2 col-sm-4 col-xs-6" data-gjs-draggable="false">
            <img data-gjs-draggable="false" class="img-circle" src="https://dle8kiu3j4494.cloudfront.net/careers/members/268/thumb_avatar_1504259523.jpg" alt="Thumb avatar 1504259523">
            <div data-gjs-draggable="false" class="titles">
            <div data-gjs-draggable="false" class="h5 truncate">Jonathan Emery</div>
            <div data-gjs-draggable="false" class="department truncate">IT Customer Service Manager</div>
            </div>
        </div>
        <div data-gjs-draggable="false" class="member col-md-2 col-sm-4 col-xs-6">
            <img data-gjs-draggable="false" class="img-circle" src="https://dle8kiu3j4494.cloudfront.net/careers/members/266/thumb_avatar_1504259523.png" alt="Thumb avatar 1504259523">
            <div data-gjs-draggable="false" class="titles">
            <div data-gjs-draggable="false" class="h5 truncate">Sue Tolomeo</div>
            <div data-gjs-draggable="false" class="department truncate">Financial Accountant</div>
            </div>
        </div>
        <div data-gjs-draggable="false" class="member col-md-2 col-sm-4 col-xs-6">
            <img data-gjs-draggable="false" class="img-circle" src="https://dle8kiu3j4494.cloudfront.net/careers/members/265/thumb_avatar_1504259523.jpg" alt="Thumb avatar 1504259523">
            <div data-gjs-draggable="false" class="titles">
            <div data-gjs-draggable="false" class="h5 truncate">Alwyn Owen</div>
            <div data-gjs-draggable="false" class="department truncate">Trust Network Manager</div>
            </div>
        </div>
        <div data-gjs-draggable="false" class="member col-md-2 col-sm-4 col-xs-6">
            <img data-gjs-draggable="false" class="img-circle" src="https://dle8kiu3j4494.cloudfront.net/careers/members/269/thumb_avatar_1504259681.png" alt="Thumb avatar 1504259681">
            <div data-gjs-draggable="false" class="titles">
            <div data-gjs-draggable="false" class="h5 truncate">Suzanne Cooper</div>
            <div data-gjs-draggable="false" class="department truncate">Trust Governance and Compliance Manager</div>
            </div>
        </div>
        </div>
    </div>
</div>