<div class="component videos-component" id="section-3096" data-name="Videos">
        <div class="container" data-gjs-draggable="false">
          <h3 class="section-title" data-gjs-draggable="false">{{site.data.text.videosTitle}}</h3>
          <h4 class="section-subtitle" data-gjs-draggable="false">{{site.data.text.videosSubTitle}}</h4>
          <div class="videos row" data-gjs-draggable="false">
            <div class="col-md-4" data-gjs-draggable="false">
              <div class="video-wrapper" data-gjs-draggable="false">
                <iframe allowfullscreen="allowfullscreen" class="youtube" frameborder="0" height="360" src="//www.youtube.com/embed/UE8pCqoqgK4" width="640"></iframe>
              </div>
            </div>
            <div class="col-md-4" data-gjs-draggable="false">
              <div class="video-wrapper" data-gjs-draggable="false">
                <iframe allowfullscreen="allowfullscreen" class="youtube" frameborder="0" height="360" src="//www.youtube.com/embed/wcCOOg1vvX0" width="640"></iframe>
              </div>
            </div>
            <div class="col-md-4" data-gjs-draggable="false">
              <div class="video-wrapper" data-gjs-draggable="false">
                <iframe allowfullscreen="allowfullscreen" class="youtube" frameborder="0" height="360" src="//www.youtube.com/embed/Lcw6iLPXvPg" width="640"></iframe>
              </div>
            </div>
            <div class="col-md-4" data-gjs-draggable="false">
              <div class="video-wrapper" data-gjs-draggable="false">
                <iframe allowfullscreen="allowfullscreen" class="youtube" frameborder="0" height="360" src="//www.youtube.com/embed/XFRGSU8PT1A" width="640"></iframe>
              </div>
            </div>
            <div class="col-md-4" data-gjs-draggable="false">
              <div class="video-wrapper" data-gjs-draggable="false">
                <iframe allowfullscreen="allowfullscreen" class="youtube" frameborder="0" height="360" src="//www.youtube.com/embed/o2_sQpPCs6A" width="640"></iframe>
              </div>
            </div>
            <div class="col-md-4" data-gjs-draggable="false">
              <div class="video-wrapper" data-gjs-draggable="false">
                <iframe allowfullscreen="allowfullscreen" class="youtube" frameborder="0" height="360" src="//www.youtube.com/embed/bMFHL6OUy6M" width="640"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>