---
layout: wrapper
bodyClass: no-banner
---

{% include nav.html %}

<div class="component text-component" id="section-1126" style="padding: 10px 0">
    <div class="container no-photo">
      <h3 class="section-title">{{page.title}}</h3>
      <h4 class="section-subtitle">{{page.pageSubTitle}}</h4>       
      <a class="remove-left-padding btn btn-link blog-back {{ page.pageType }}" href="/blogs"><i class="fa fa-angle-double-left"></i> Back</a>    
    </div>
  </div>
  <div class="component text-component" id="section-1208" style="min-height: 370px;">
    <div class="container no-photo">      
      <div class="text row">
        <div class="body col-xs-12">
          <div id="one" style="border:0px solid red;">      
            {{content}}          
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  <style>
     .header-component .content.container, .header-cover-image {
      display: none !important;
    }
    .text-component .text {
      margin-top: 10px;
    }
  </style>