<!DOCTYPE html>
<html>
<head>
  {% include head_edit.html %}
  <script>
    windowHeight = $(window).height();
  </script>
</head>
<body class="offers-controller index {{ page.bodyClass }}" data-no-turbolink="true">    

{% include slider_left.html %}
{% include slider_right.html %}
<div id="grapes-edit">
  <div class="panel__top">
      <div class="panel__basic-actions"></div>
  </div>
  <div id="components-container" class="accept-block">
    {{content}}
  </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/grapes/gjsBlocks.js"></script>
<script src="/js/grapes/gjsPanels.js"></script>
<script src="/js/grapes/gjs.js"></script>
<script src="/js/simplebar.js"></script>
<script src="/js/edit.js"></script>
<script src="/js/left_slider.js"></script>
</body>
</html>
